---
import type { InferGetStaticPropsType } from "astro";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import { entryPaths } from "../../_paths";
import Post from "../../../layouts/pages/Post.astro";
import TableOfContents from "../../../components/TableOfContents.astro";
import GitInfo from "../../../components/GitInfo.astro";
import type { GitInfoFrontmatter } from "../../../remark/remark-git-info";
import { getLocaleFromUrl, useTranslations } from "../../../utils/i18n";
import { resolvePath } from "../../../utils/path";
import slug from "limax";
import Comments from "../../../components/Comments.astro";
import Meta from "../../../layouts/groups/Meta.astro";
import { getCollectionSlug, getLocaleSlug } from "../../../utils/slugs";
import { render } from "astro:content";

export const getStaticPaths = entryPaths("blog", "slug");

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { translations, data } = Astro.props as Props;
const { Content, headings, remarkPluginFrontmatter } = await render(Astro.props);
const git: GitInfoFrontmatter["git"] = remarkPluginFrontmatter.git;
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const localeSlug = getLocaleSlug(locale);
const collectionSlug = getCollectionSlug("blog", locale);
---

<DefaultLayout translations={translations}>
  <Meta slot="meta" title={data.title} />
  <Post frontmatter={{ title: data.title, publishedAt: data.publishedAt }}>
    <TableOfContents slot="left" headings={headings} />
    <Content />
    <Comments />
    <Fragment slot="right">
      <GitInfo git={git}>
        <Fragment slot="after">
          <dt>{t("tagsLabel")}</dt>
          <dd>
            {
              data.tags.map((tag) => (
                <a href={resolvePath(localeSlug, collectionSlug, slug(tag))}>
                  {tag}
                </a>
              ))
            }
          </dd>
        </Fragment>
      </GitInfo>
    </Fragment>
  </Post>
</DefaultLayout>
