---
import type { Page } from "astro";
import Button from "./Button.astro";
import { useI18n } from "astro-nanostores-i18n:runtime";
import { params } from "@nanostores/i18n";

type Props = {
  page: Page;
};

const messages = useI18n("components.pagination", {
  previous: "Previous",
  next: "Next",
  pageOf: params("Page {current} of {total}"),
});
const { page } = Astro.props as Props;
---

<style>
  div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
</style>

<div>
  {page.url.prev && <Button href={page.url.prev}>{messages.previous}</Button>}
  <span>{messages.pageOf({ current: page.currentPage, total: page.lastPage })}</span>
  {page.url.next && <Button href={page.url.next}>{messages.next}</Button>}
</div>
