---
import { Image } from "astro:assets";
import DateTime from "./DateTime.astro";
import DerivedCover from "./DerivedCover.astro";

type Props = {
  title: string;
  cover?: { alt?: string; src: ImageMetadata };
  publishedAt: Date;
  translatedPath: string;
  excerpt: string;
};

const { title, cover, publishedAt, translatedPath, excerpt } = Astro.props;
---

<style>
  img,
  svg {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  a {
    text-decoration: none;
  }

  a :global(time) {
    font-size: 0.8rem;
  }

  h2 {
    margin-top: 0.5rem;
  }
</style>

<div>
  <a href={translatedPath}>
    {
      cover ? (
        <Image
          src={cover.src}
          alt={cover.alt || title}
          widths={[720]}
        />
      ) : (
        <DerivedCover value={title} />
      )
    }
    <div>
      <div>
        <DateTime date={publishedAt} />
        <h2>{title}</h2>
        <p>{excerpt}...</p>
      </div>
    </div>
  </a>
</div>
