---
import { parseLocale, useTranslations } from "../utils/i18n";

const locale = parseLocale(Astro.currentLocale);
const t = useTranslations(locale);
const bundle = `/pagefind/pagefind.js`;
const loadingText = t("searchLoading");
---

<script>
  async function initializeSearch(bundle: string) {
    if (globalThis.pagefind) return;
    globalThis.pagefind = await import(/* @vite-ignore */ bundle);
    globalThis.pagefind?.init();
  }

  function render(results: PagefindSearchFragment[]) {
    const resultsList = document.querySelector(".results") as HTMLUListElement;
    resultsList.innerHTML = "";
    if (results.length === 0) {
      resultsList.textContent = resultsList.dataset.loadingText || "Loading...";
      return;
    }
    results.forEach((result) => {
      const li = document.createElement("li");
      const a = document.createElement("a");
      a.innerHTML = `<strong>${result.meta.title}: </strong>${result.excerpt}`;
      a.href = result.url;
      li.appendChild(a);
      resultsList.appendChild(li);
    });
  }

  async function search(query: string) {
    if (!globalThis.pagefind) return;
    const records = await globalThis.pagefind.debouncedSearch(query);

    render([]);

    if (records?.results) {
      render(await Promise.all(records.results.slice(0, 5).map((r) => r.data())));
    } else {
      render([]);
    }
  }

  async function initialize() {
    const searchWrapper = document.querySelector("[data-search-ui]") as HTMLDivElement;
    const searchInput = document.querySelector("input[type=search]") as HTMLInputElement;
    if (!searchInput || !searchWrapper || !searchWrapper.dataset.searchBundle) return;

    initializeSearch(searchWrapper.dataset.searchBundle);

    searchInput.addEventListener("input", () => {
      search(searchInput.value);
    });

    searchWrapper.addEventListener("focusin", (event) => {
      if (event.target === searchInput) search(searchInput.value);
      document.body.classList.add("search-active");
    });

    searchWrapper.addEventListener("focusout", () => {
      document.body.classList.remove("search-active");
    });
  }

  document.addEventListener("astro:page-load", initialize);
  document.addEventListener("DOMContentLoaded", initialize);
</script>

<div class="search" data-search-ui data-search-bundle={bundle}>
  <input type="search" placeholder={t("searchPlaceholder")} />
  <ul class="results" data-loading-text={loadingText}>{loadingText}</ul>
</div>

<style>
  .search {
    display: flex;
    position: relative;
  }

  .search,
  .search input {
    width: 100%;
  }

  .results {
    display: none;
    position: absolute;
    list-style: none;
    z-index: 10;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-primary-120);
    font-size: 1.2rem;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .search:focus-within input:not(:placeholder-shown) + .results,
  .results:focus-within {
    display: flex;
  }
</style>
