---
import type { GitInfoFrontmatter } from "../remark/remark-git-info";
import Button from "./Button.astro";
import DateTime from "./DateTime.astro";
import Details from "./Details.astro";
import { useI18n } from "astro-nanostores-i18n:runtime";

type Props = { gitInfo?: GitInfoFrontmatter };

const { gitInfo } = Astro.props;
const messages = useI18n("components.versioningDetails", {
  title: "Versioning",
  author: "Author",
  lastUpdated: "Last updated",
  links: "Links",
  source: "Source",
  history: "History",
  edit: "Edit",
});
---

<Details title={messages.title}>
  <dl>
    {
      gitInfo?.lastCommit && (
        <Fragment>
          <dt>{messages.author}</dt>
          <dd>{gitInfo.lastCommit.authorName}</dd>
          <dt>{messages.lastUpdated}</dt>
          <dd>
            <DateTime date={new Date(gitInfo.lastCommit.date)} />
          </dd>
          <dt>{messages.links}</dt>
          <dd>
            <Button href={gitInfo.remoteViewUrl}>{messages.source}</Button>
            <Button href={gitInfo.remoteHistoryUrl}>{messages.history}</Button>
            <Button href={gitInfo.remoteEditUrl}>{messages.edit}</Button>
          </dd>
        </Fragment>
      )
    }
  </dl>
</Details>
