---
import { parseLocale, useTranslations } from "../../utils/i18n";
import CardList from "../../components/CardList.astro";
import { defaultBlogCollection } from "../../collections/blog";
import { i18nProps } from "astro-loader-i18n";
import { defaultPropsAndParamsOptions } from "../../utils/paths";
import { render } from "astro:content";
import slug from "limax";
import Card from "../../components/Card.astro";
import DateTime from "../../components/DateTime.astro";
import VscodeIconsFileTypeRss from "~icons/vscode-icons/file-type-rss";

type Props = {
  locale: string;
};

const locale = parseLocale(Astro.props.locale);
const t = useTranslations(locale);
const posts = i18nProps(defaultBlogCollection, {
  ...defaultPropsAndParamsOptions,
  routePattern: `[...locale]/[blog]/[...slug]`,
  generateSegments: (entry) => ({ slug: `${entry.data.contentPath}/${slug(entry.data.title)}` }),
});

const filteredPosts = posts.slice(0, 4);
---

<style>
  section :global(ul) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        display: flex;
      }
    }
  }

  @media (max-width: 1280px) {
    section :global(ul) {
      grid-template-columns: 1fr;
    }
  }
</style>

<section>
  <header>
    <h2>{t("latestPostsLabel")}</h2>
    <div>
      <a href={`/rss-${locale}.xml`}>
        <VscodeIconsFileTypeRss style={{ fontSize: "1.5rem" }} />
      </a>
      <slot name="call-to-action" />
    </div>
  </header>
  <CardList>
    {
      filteredPosts.map(async (post, i) => {
        const { remarkPluginFrontmatter } = await render(post);
        return (
          <li>
            <Card title={post.data.title} cover={post.data.cover} link={post.translatedPath} dividerFlip={i % 2 === 0}>
              <DateTime slot="super-title" date={post.data.publishedAt} />
              {remarkPluginFrontmatter.excerpt}...
            </Card>
          </li>
        );
      })
    }
  </CardList>
</section>
