---
import { parseLocale, useTranslations } from "../../utils/i18n";
import { author as packageAuthor } from "../../../package.json";

type Props = {
  title?: string;
  author?: string;
  description?: string;
  keywords?: string;
};

const locale = parseLocale(Astro.params.locale);
const props = Astro.props;
const t = useTranslations(locale);

const title = props.title ? `${props.title} - r.obin.ch` : t("title");
const author = props.author || packageAuthor;
const description = props.description || t("description");
const keywords = props.keywords;
---

<title>{title}</title>
<meta name="author" content={author} />
<meta name="description" content={description} />
{keywords && <meta name="keywords" content={keywords} />}
