---
import { author as packageAuthor } from "../../../package.json";
import { useI18n } from "astro-nanostores-i18n:runtime";

type Props = {
  title?: string;
  author?: string;
  description?: string;
  keywords?: string;
};

const props = Astro.props;
const messages = useI18n("layouts.meta", {
  title: "Robin Bühlers Website",
  description:
    "On this website I collect interesting things from my adventures in the world of bits and bytes and also share some things from the analog reality.",
});
const title = props.title ? `${props.title} - r.obin.ch` : messages.title;
const author = props.author || packageAuthor;
const description = props.description || messages.description;
const keywords = props.keywords;
---

<title>{title}</title>
<meta name="author" content={author} />
<meta name="description" content={description} />
{keywords && <meta name="keywords" content={keywords} />}
